@{
    ViewData["Title"] = "CreateTO";
}
<div class="text-center">
    <h2 class="display-4">Создание ТО</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Автомобиль:</div>
        <div class="col-8">
            <select id="carId" name="carId" class="form-control" asp-items="@(new SelectList(@ViewBag.Cars,"Id", "VIN"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btnprimary" /></div>
    </div>
</form>