@{
    ViewData["Title"] = "Отправка на почту";
}

<div class="text-center">
    <h5 class="display-4" style="font-size: 30px;">Отчёт по тех. осмотрам отправлен на почту @ViewBag.Mail</h5>
</div>
<div class="text-center">
    <a type="button" asp-action="ReportPdf" class="btn btn-primary">Назад</a>
</div>