@{
    ViewData["Title"] = "Основная страница";
}
<div class="text-center">
    <h1 class="display-4">СТО Руки-Крюки</h1>
</div>

<div class="text-center">
    <img src="~/images/main_pic.jpg" alt="Logo" width="1280" height="720" />
</div>