@{
    ViewData["Title"] = "CreateWorkType";
}
<div class="text-center">
    <h2 class="display-4">Создание типа услуги</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Время работы</div>
        <div class="col-8">
            <select id="timeofworkId" name="timeofworkId" class="form-control" asp-items="@(new SelectList(@ViewBag.TimeOfWorks,"Id", "Time"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Запчасти</div>
        <div class="col-8">
            <select id="sparepartId" name="sparepartId" class="form-control" asp-items="@(new SelectList(@ViewBag.SpareParts, "Id", "Name"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Количество:</div>
        <div class="col-8"><input type="text" name="count" id="count"/></div>
    </div>
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="worktypename" id="worktypename"/></div>
    </div>
    <div class="row">
        <div class="col-4">Стоимость услуги:</div>
        <div class="col-8"><input type="text" name="price" id="price"/></div>
    </div>
    <div class="row">
        <div class="col-4">Цена с учётом запчастей:</div>
        <div class="col-8"><input type="text" name="netprice" id="netprice" readonly="true"/></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Добавить" class="btn btnprimary"/></div>
    </div>
</form>

<script>
    $('#sparepartId').on('change', function () {
        check();
    });
    $('#count').on('change', function () {
        check();
    });
    $('#price').on('change', function () {
        check();
    });

    function check() {
        var count = $('#count').val();
        var partId = $('#sparepartId').val();
        var price = $('#price').val();
        if (count && partId && price) {
            $.ajax({
                method: "POST",
                url: "/Home/CalcPrice",
                data: { count: count, partId: partId, price: price },
                success: function (result) {
                            $("#netprice").val(result);
                         }
            });
        };
    }
</script>