@using AutoFixStationContracts.WebViewModels
@model List<TimeOfWorkWebViewModel>
@{
    ViewData["Title"] = "TimeOfWorks";
}
<div class="text-center">
    <h3 class="display-4">Время выполнения</h3>
</div>

<div class="text-center">
    @{
    <p>
        <a asp-action="CreateTimeOfWork">Создать</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Количество часов
                </th>
                <th>
                    Количество минут
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                            item.Time)
                    </td>
                    <td>
                        <a asp-action="EditTimeOfWork" asp-route-timeofworkId="@item.Id">Изменить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>