@using AutoFixStationContracts.ViewModels
@model List<TOViewModel>
@{
    ViewData["Title"] = "Отчёт по выбранным ТО";
}
<div class="text-center">
    <h5 class="display-4" style="font-size: 30px;">Список запчастей по выбранным тех. осмотрам</h5>
</div>

<div class="text-center">
    <h5 class="display-4" style="font-size: 24px; margin-bottom: 30px">Выберите тех. осмотры для отчета:</h5>
</div>

<form method="post">
<div class="row">
        <div class="col-4" style="align-self:center" >Тех. осмотры:</div>
        <div class="col-8">
            @foreach (var item in @Model)
                {
                    <input type="checkbox" id="tosId" name="tosId" multiple="multiple" value="@item.Id" /> @item.TOAndCarName<Br>
                }           
        </div>
        <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Word" class="btn btn-primary" asp-action="CreateReportTOSparePartsToWordFile" style="margin-top:20px; padding-right: 40px; padding-left: 40px"/>
            <input type="submit" value="Excel" class="btn btn-primary" asp-action="CreateReportTOSparePartsToExcelFile" style="margin-top:20px; padding-right: 40px; padding-left: 40px;"/>
        </div>
    </div>
</div>
</form>